<h1>Chef Profile - <%= @chef.name %></h1>
<%= cl_image_tag(@chef.photo, height: 300, width: 400, crop: :fill) unless @chef.photo.nil? %>
<p><strong>Specialty:</strong> <%= @chef.specialty %></p>
<p><strong>Description:</strong> <%= @chef.description %></p>

<h2>Bookings from Users:</h2>

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <p><strong>User:</strong> <%= booking.user.email %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No bookings from users yet.</p>
<% end %>

<%= link_to "Back to Homepage", root_path, class: "btn btn-primary" %>
<%= link_to "Book This Chef", new_booking_path(chef_id: @chef.id), class: "btn btn-primary" %>

<h2>Check out this chefs reviews:</h2>
<% @chef.reviews.each do |review| %>
  <p><strong><%= review.user.name %>:</strong> <%= review.content %></p>
<% end %>
