<div class="profile-container-chef">

<div class="card custom-element" style="width: 45rem;">
<div class="card-body mx-auto text-center">
  <div class="profile-content">
    <h1><%= @chef.name %></h1>
    <img class="rounded-circle mx-auto" src="<%= @booking.photo %>" alt="Chef's picture" style="width: 150px; height: 150px; object-fit: cover;"><br><br>
    <p><strong>Chef's Cuisine Type:</strong> <%= @chef.specialty %></p>
    <p><strong>Biography:</strong> <%= @chef.description %></p>
    <p><strong>Location:</strong> <%= @chef.city %></p>

    <div class="reviews">
      <h2>Check out their reviews!</h2>
      <% @chef.reviews.each do |review| %>
        <p><strong><%= review.user.name %>:</strong> <%= review.content %></p>
      <% end %>
      </div>
      </div>
    </div>
  </div>

  <div class="" style="width: 65rem;">
    <%= render 'shared/booking_form', booking: @booking, chef_name: @chef.name %>
  </div>
</div>
