<%= simple_form_for @booking do |f| %>
  <%= f.input :start_date, label: 'Begin' %>
  <%= f.input :end_date, label: 'End' %>
  <%= f.association :chef, label: 'Chef', prompt: 'Select a Chef' %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.submit 'Update Booking', class: 'btn btn-secondary btn-lg' %>
<% end %>
