
<div class="container">
<h1> My Bookings</h1>
    <% if @bookings.any? %>
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      Featured
    </div>
      <ul class="list-group list-group-flush">
        <% @bookings.each do |booking| %>
          <li class="list-group-item">
            <%= booking.chef_id %> - <%= booking.start_date %> at <%= booking.end_date %>
            <%= link_to 'View Details', booking_path(booking), class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No upcoming bookings.</p>
    <% end %>
  </div>
<%= link_to "Create New Booking ", new_booking_path %>
</div>
