<div class="parent-container">
  <div class="confirmation-card">
    <div class="confirmation-body">
      <h5 class="confirmation-title">Booking Confirmation</h5>
      <p class="confirmation-text">
      <div class="chef-info">
        <%= image_tag @chef.photo, class: 'chef-photo' if @chef.photo.present? %>
          <h1><%= @chef.name %></h1>
        </div>
        Chef: <%= @booking.chef.name %><br>
        City: <%= @booking.chef.city %><br>
        Dates: <%= @booking.start_date %> to <%= @booking.end_date %><br>
        Price per day: <%= @booking.chef.price_per_day %><br>
        Number of guests: <%= @booking.number_of_guests %><br>
        Special requests: <%= @booking.special_requests %><br>
        Address: <%= @booking.address %>
      </p>
    </div>
  <br>
<p>Thank you for your booking! We will be in touch with you shortly.</p>
<%= link_to 'Show My Bookings', bookings_path, class: 'btn btn-alert' %>
  </div>
</div>
