
<h1>Booking Details</h1>

<p>
  <strong>Chef ID:</strong>
  <%= @booking.chef_id %>
</p>

<p>
  <strong>Chef Name:</strong>
  <%= @booking.chef.name %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @booking.end_date %>
</p>

<%= link_to 'Delete Booking', booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: 'Go ahead, delete it. Just like my hopes and dreams....' }, class: 'btn btn-danger' %>

<%# hello %>
