<div class="parent-container">
  <div class="confirmation-card">
    <div class="confirmation-body">
      <h5 class="confirmation-title">Booking Confirmation</h5>
      <p class="confirmation-text">
      <div class="chef-info">
        <%= image_tag @chef.photo, class: 'chef-photo' if @chef.photo.present? %>
          <h1><%= @chef.name %></h1>
        </div>
        <strong>Chef:</strong> <%= @booking.chef.name %><br>
        <strong>City:</strong> <%= @booking.chef.city %><br>
        <strong>Dates:</strong> <%= @booking.start_date %> to <%= @booking.end_date %><br>
        <strong>Price per day:</strong> <%= @booking.chef.price_per_day %><br>
        <strong>Number of guests:</strong> <%= @booking.number_of_guests %><br>
        <strong>Special requests:</strong> <%= @booking.special_requests %><br>
        <strong>Address:</strong> <%= @booking.address %>
      </p>
    </div>
  <br>
<p>Thank you for your booking! We will be in touch with you shortly.</p>
<%= link_to 'Show My Bookings', bookings_path, class: 'btn btn-alert' %>
  </div>
</div>
