<%# Partial to display chefs in a grid %>
<div class="row">
  <% chefs.each do |chef| %>
    <div class="col-md-4 chef-card-col"> <!-- Ajout de la classe chef-card-col -->
      <%# Link that makes the entire chef card clickable, leading to the chef's profile %>
      <%= link_to chef_path(chef), class: "chef-card-link" do %>
        <div class="chef-card">
          <%# Chef photo displayed as a background image %>
          <div class="chef-card-image" style="background-image: url(<%= cl_image_path(chef.photo, height: 300, width: 400, crop: :fill) %>);"></div>
          <div class="chef-card-info">
            <%# Chef's name %>
            <h4 class="chef-name"><%= chef.name %></h4>
            <%# Chef's specialty %>
            <p class="chef-specialty"><strong>Cuisine Type: </strong><%= chef.specialty %></p>
            <p class="chef-city"><strong>Location: </strong><%= chef.city %></p>
            <%# Chef's price per day %>
            <p class="chef-price"><%= number_to_currency(chef.price_per_day, unit: "€", format: "%n %u") %> per day</p>
            <%# Placeholder for chef's rating, should be replaced with dynamic rating system %>
            <div class="chef-rating">
              <%# <span class="stars">★★★★☆</span> <!-- Replace with dynamic rating system --> We can add this back once we have a dynamic star rating%>
              <span class="rating-number"><strong>Reviews:</strong> <%= chef.reviews.count %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
